<div style="width: 500px;margin: 50px auto;">
  <form autocomplete="off" novalidate [formGroup]="form">
    <fieldset>
      <legend>Login</legend>
      <div class="form-group">
        <label class="control-label">Email</label>
        <input type="email" formControlName="email" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
    </fieldset>
    <button class="btn btn-md btn-primary m-t-md pull-right" (click)="login()">Login</button>
  </form>
</div>
