<header class="col-sm-12">
  <div class="pull-left img-icon">
    <img src="../../favicon.ico">
  </div>
  <ul class="top-menu">
    <li>
      <a [routerLink]="['./home']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="menu-active" >HOME</a>
    </li>
    <li>
      <a [routerLink]="['./courses']" routerLinkActive="menu-active">COURSES</a>
    </li>
    <li>
      <a routerLinkActive="menu-active" [routerLink]="['./login']" *ngIf="!authInfo?.isLoggedIn()">LOGIN</a>
    </li>
    <li>
      <a routerLinkActive="menu-active" [routerLink]="['./register']" *ngIf="!authInfo?.isLoggedIn()">REGISTER</a>
    </li>
    <li>
      <a routerLinkActive="menu-active" *ngIf="authInfo?.isLoggedIn()" (click)="logout()">LOGOUT</a>
    </li>
  </ul>
</header>
