.top-menu li:first-child {
  margin-left: 10px;
}

.top-menu {
  line-height: 70px;
  margin: 0px;
  li {
    list-style: none;
    float: left;
    margin-left: 30px;
    .menu-active {
      color: #ed5565;
    }
    a {
      color: white;
      font-size: 20px;
    }
  }
}

header {
  height: 70px;
  float: left;
  width: 100% !important;
  background-color: #0a6aa1;
  .img-icon {
    line-height: 70px;
  }
}
