<h2 class="text-center">{{(courses | async)?.description}}</h2>
<div class="m-t-lg m-b-md">
  <lesson-list [lessons]="lessons" (lesson)="navigateLessonDetail($event)"></lesson-list>
</div>
<div class="text-center m-t-lg">
  <button class="btn btn-md btn-default" (click)="previous()">Previous Page</button>
  <button class="btn btn-md btn-primary m-l-sm" (click)="next()">Next Page</button>
  <button class="btn btn-md btn-info m-l-sm" [routerLink]="['./new']" [queryParams]="{courseId: (courses | async)?.$key}">New Lesson</button>
</div>
