<div class="col-sm-12 padding-md">
  <table class="table-bordered table table-responsive">
    <thead>
      <tr>
        <th>$key</th>
        <th>科目</th>
        <th>课时</th>
        <th>描述</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lesson of lessons">
      <td>{{lesson.key}}</td>
      <td>{{lesson.isFirst}}</td>
      <td>{{lesson.hour}}小时</td>
      <td>{{lesson.description}}</td>
      <td>
        <a href="lesson.url">{{lesson.url}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
